<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adelara|Add a meal</title>
</head>
<body>
    <h1>Add meal</h1>
    <div>
        <form action="{{url_for('add_meal')}}" method="POST">
            <input type="text" name="name" id="" placeholder="Enter the meal name">
            <input type="text" name="photo" id="" placeholder="Enter the image url here">
            <input type="text" name="price" id="" placeholder="How much it costs?">
            <input type="submit" value="Create" id="button">
        </form>

    </div>
</body>
</html>