{% extends 'base.html' %}

{% block content %}
    <main id="meal" class="menu margin-auto">

        <div class="meal-details shadow height-auto" id="">
                    <div id="add-form" class="form">
                        <form  action="{{url_for('add_meal')}}" method="POST">
                            <input required type="text" name="name" id="" placeholder="Enter the meal name">
                            <input required type="text" name="photo" id="" placeholder="Enter the image url here">
                            <div id="add-ings">
                                <label id="ing-label" for="ing[]">
                                    Ingredients
                                    <input type="text" name="ings[]">
                                    <input type="text" name="ings[]">
                                    <input type="text" name="ings[]">
                                </label>
                                <div id="add-new-ing-btn" onclick="addIng()">+</div>
                            </div>
                            <input required type="number" name="price" id="" placeholder="How much it costs?">
                            <input id="order-button" class="submit-button" type="submit" value="Create" id="button">
                        </form>
                    </div>
            
                </figcaption>
            </div>
        </div>
    </main>
{% endblock %}