<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adelara|{{meal.name}}</title>
</head>
<body>
    <h1>{{meal.name}} details</h1>
    <div>
            <h2>{{meal.name}}</h2>
            <div>
                <img src="{{meal.photo_url}}" alt="{{meal.name}}" width="128">
            </div>
            <div>Price: ${{meal.price}}</div>
            <ul>
                {% for ingredient in meal.descr %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
            <form action="{{url_for('details', id=meal.id)}}" method="POST">
                <input type="text" name="user" id="" placeholder="Please enter your name">
                <input type="text" name="quantity" id="" placeholder="Enter quantity here!">
                <textarea name="address" id="" cols="30" rows="10" placeholder="Type your address here!"></textarea>
                <input type="submit" value="Create" id="button">
            </form>

    </div>
</body>
</html>