{% extends 'index.html' %}
{% block meals %}
{% for meal in meals %}
<h2>{{meal.name}}</h2>
<div>
    <img src="{{meal.photo_url}}" alt="{{meal.name}}" width="128">
</div>
<div>Price: ${{meal.price}}</div>
<ul>
    {% for ingredient in meal.descr %}
        <li>{{ingredient}}</li>
    {% endfor %}
</ul>
<a id="{{meal.id}}-det" href="{{ url_for('details', id=meal.id)}}">details</a>
<a id="{{meal.id}}-rem" href="{{ url_for('meal_remove', id=meal.id)}}">Remove</a>
<a id="{{meal.id}}-upd" href="{{ url_for('meal_update', id=meal.id)}}">Update</a>
{% endfor %}
{% endblock %}