{%extends 'base.html' %}
{% block content %}
<main id="meal" class="menu">
    {% for order in orders %}
        <div class="meal-details shadow" id="">
            <div id="details" class="flex">
                <figure>
                    <div>
                        <img id="cloud" src="{{ url_for('static', filename='img/cloud-v.png') }}" alt="">
                    </div>
                    <img id="meal-pic" src="{{order.meal_photo}}" alt="{{order.meal_name}}">
                </figure>
                <figcaption class="">
                    <h4 class="" id="meal-name">{{order.meal_name}}</h4>
                    <div class="" id="meal-price">
                        <div class="center">${{order.amount}}</div>
                    </div>
                    <div id="ingredients">
                        <h5>Order for {{order.user}}</h5>
                        <ul>
                            <li><span>Quantity: </span>{{order.quantity}}</li>
                            <li><span>Address: </span>{{order.address}}</li>
                            <li><span>Date: </span>{{order.date}}</li>
                        </ul>
                    </div>
                </figcaption>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}